.btn {
  min-width: 160px;
  min-height: 40px;

  padding: 12px 20px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: #ffffff;

  border: 1px solid #ff6c00;
  box-sizing: border-box;
  border-radius: 25px;
}
